// bower:scss
// endbower

$person:('head','body','leftArm','rightArm','leftLeg','rightLeg');

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{margin:30px 0;

  font-family: 'Indie Flower', cursive;
}


h1{
  color:black;
}

.wrapper{
  margin: 0 25% 0 25%;
}

.apparatus{
  position: relative;
}

.support{
  width:12px;
  height: 360px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  z-index:5;
  background: black;
}

.apparatus .right-leg{
    border: 1px solid black;
  background: black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  top: 343px;
  left: -19px;
 transform:rotate(40deg);
  -ms-transform:rotate(40deg); /* IE 9 */
  -webkit-transform:rotate(40deg); /* Opera, Chrome, and Safari */
}

.apparatus .left-leg{
    border: 1px solid black;
background: black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  top: 343px;
  left: 18px;
 transform:rotate(40deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(137deg); /* Opera, Chrome, and Safari */
}

.apparatus .head{
  border: 1px solid black;
background: black;
  width:260px;
  height: 12px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
}

.apparatus .base{
    border: 1px solid black;
background: black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  left: 20px;
 transform:rotate(40deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(40deg); /* Opera, Chrome, and Safari */
}

.apparatus .noose{
background: black;
  border: 1px solid black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  left: 250px;
  z-index:1;
}

.person{
  position:relative;
}



ul{
  display:inline;
  list-style:none;
}

li{
  display: inline;
}


h3{
  margin:0;
  padding:0;
  display:inline;
  border-bottom: 2px black solid;
}



.apparatus{
  position: relative;
}

.support{
  width:12px;
  height: 460px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  z-index:5;
  background: black;
}

.apparatus .right-leg{
    border: 1px solid black;
  background: black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  top: 443px;
  left: -19px;
 transform:rotate(40deg);
  -ms-transform:rotate(40deg); /* IE 9 */
  -webkit-transform:rotate(40deg); /* Opera, Chrome, and Safari */
}

.apparatus .left-leg{
    border: 1px solid black;
background: black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  top: 443px;
  left: 18px;
 transform:rotate(40deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(137deg); /* Opera, Chrome, and Safari */
}

.apparatus .head{
  border: 1px solid black;
background: black;
  width:260px;
  height: 12px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
}

.apparatus .base{
    border: 1px solid black;
background: black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  left: 20px;
 transform:rotate(40deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(40deg); /* Opera, Chrome, and Safari */
}

.apparatus .noose{
background: black;
  border: 1px solid black;
  width:12px;
  height: 70px;
  border-radius: 10px;
  margin: 100px;
  position: absolute;
  left: 250px;
  z-index:1;
}

.person{
  position:relative;
}

%human{
  margin: 100px;
  width:50%;
  position: absolute;
  left: 77px;
  top:70px;
}

@each $part in $person{
  .person .#{$part}{
    @extend %human;
  }
}


.wrong-letters{
  padding:15px 50px 15px 50px;
  margin-left: 50px;
  border-radius: 10px;
  border: 1px solid black;
}


.hide-text{
  color: transparent;
}

.test{
    fill: green;
}
.hide{
  display:none;
}

h2{
  margin:0;
  padding:0;
  text-align:center;
  font-size: 56px;
 
  font-weight: 1100;
}

.success h2{
   color: green;
}

.fail h2{
  color: red;
}

.success{
  border: 15px solid green;
  padding: 50px;
  border-radius: 10px;
  postion: absolute;
  -webkit-transform:rotate(-20deg); /* Opera, Chrome, and Safari */
}

.fail{
  border: 15px solid red;
  padding: 50px;
  border-radius: 10px;
  postion: absolute;
  -webkit-transform:rotate(-20deg); /* Opera, Chrome, and Safari */
}
